<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button  menu="primerMenu"> </ion-menu-button>
        </ion-buttons>
    <ion-title>¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/icon/water-3354062_1920.jpg" class="thumb-img" />
 

  <ion-card>
    <ion-row>
      <ion-col align-self-start>
        <img src="../../../assets/icon/agenda-3991875_640.jpg" alt="" />
        <ion-button href="/eventos" color="dark" expand="block" >Eventos</ion-button>
      </ion-col>
      <ion-col align-self-center>
          <img src="../../../assets/icon/guitar-case-485112_640.jpg" alt="" />
          <ion-button href="/eventos" color="dark" expand="block" >Crowd</ion-button>
      </ion-col>
      <ion-col align-self-end>
          <img src="../../../assets/icon/shop-2607121_640.jpg" alt="" />
          <ion-button href="/eventos" color="dark" expand="block" >Market</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  



  <ion-slides   class="image-slider" pager="true" mode="ios" >
  
      <ion-slide  >
          <ion-card>
              <ion-card-header>
                
                  <ion-card-title>¿Quienes somos?</ion-card-title>
                </ion-card-header>
              <ion-item>
               
                <img src="../../../assets/icon/exp.png" alt="">
                <ion-label>ion-item in a card, icon left, button right</ion-label>
             
              </ion-item>
            
              <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content>
            </ion-card>
      </ion-slide>
      <ion-slide  >
          <ion-card>
              <ion-card-header>
                
                  <ion-card-title>¿Quienes somos?</ion-card-title>
                </ion-card-header>
              <ion-item>
               
                <img src="../../../assets/icon/exp.png" alt="">
                <ion-label>ion-item in a card, icon left, button right</ion-label>
             
              </ion-item>
            
              <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content>
            </ion-card>
      </ion-slide>
      <ion-slide  >
          <ion-card>
              <ion-card-header>
                
                  <ion-card-title>¿Quienes somos?</ion-card-title>
                </ion-card-header>
              <ion-item>
               
                <img src="../../../assets/icon/exp.png" alt="">
                <ion-label>ion-item in a card, icon left, button right</ion-label>
             
              </ion-item>
            
              <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content>
            </ion-card>
      </ion-slide>
    </ion-slides>





  

  
</ion-content>
