<ion-menu side="start" menuId="primerMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="../../../assets/icon/4.png" alt="">
    <ion-list>
        <ion-item href="/inicio" ><ion-icon slot="start" name="contact"></ion-icon>Inicio</ion-item>
        <ion-item href="/eventos" >    <ion-icon slot="start" name="map"></ion-icon> Eventos</ion-item>
        <ion-item href="/crowd" >    <ion-icon slot="start" name="cash"></ion-icon> Crowd</ion-item>
        <ion-item href="/market" >    <ion-icon slot="start" name="card"></ion-icon> Market</ion-item>
      <ion-item href="/home" >  <ion-icon slot="start" name="construct"></ion-icon> Administrar eventos </ion-item>
      <ion-item href="/login" >Menu Item</ion-item>
      <ion-item (click)="OnLogout()"> <ion-icon slot="start" name="power"></ion-icon> Cerrar sesion</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
